@use "./breakpoints" as *;

.hero{
    height: 50vh;
    width: 100%;
    background-image: url(/assets/Images/hero-bio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-content: center;
    &__heading{
        background-color: rgba($color: $color-black, $alpha: 0.5);
        width: inherit;
        display: flex;
        align-items: center;
    }
    &__title{
        font-family: "Avenir-Next";
        color: $color-white;
        font-size: 1.5rem;
        width: 13rem;
        line-height: 2rem;
        padding-left: 1rem;
    }
    @include tablet{
        .hero {
        min-height: 80vh;
        &__title {
            font-size: 3.75rem;
            line-height: 4.25rem;
            width: 32rem;
            padding-left: 1.5rem;
           }
        }
    }
    @include desktop{
        .hero{
        &__title {
            font-family: "Avenir-Next";
            color: $color-white;
            font-size: 3.7rem;
            width: 32rem;
            line-height: 2rem;
            padding-left: 1rem;
            font-weight: 600;
            }
        }
    }
}
