@use "./breakpoints" as *;
// @use "./colors" as *;

.photo{
    background-color: $color-alabaster;
    padding: 0 1rem;

    &__heading{
        font-family: "Avenir-Next";
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 2rem 0 1rem 0;
    }

    &__container{
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;

        &-item{
            height: 50.625vw;
            width: 100%;
            padding: 0.5rem 0;

        }
    }
    @include tablet {
        padding: 0 8rem;

        &__heading{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-bottom: 2rem;
        }
        &__container{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &-item{
                height: 16.40625vw;
                width: calc(33% - 0.75rem);
                padding: 0 0 1.5rem 0;
            }
        }
    }
    @include desktop{
        padding: 0 10rem;
        &__heading{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-bottom: 2rem;
        }
        &__container{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &-item{
                height: 16.40625vw;
                width: calc(33% - 0.75rem);
                padding: 0 0 1.5rem 0;
            }
        }
    }

}