@import "./partials/about";
@import "./partials/breakpoints";
@import"./partials/colors";
@import"./partials/fonts" ;
@import "./partials/footer" ;
@import"./partials/hero" ;
@import "./partials/images" ;
@import "./partials/navbar" ;
@import "./partials/comment";

 

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__nav {
    font-family: "Avenir-Next";
    color: $color-silver;
    background-color: $color-black;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    &-logo {
        width: 7.5rem;
        height: 1.25rem;
        margin-bottom: 0.5rem;
    }

    &-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0.5rem;
        width: 100%;
        

        &-item {
            text-align: center;
            border-bottom: 0.213rem solid transparent;
            color: $color-white;

            &-link {
                display: block;
                padding-bottom: 0.44rem;
                text-decoration: none;
                color: $color-mercury;
                &:hover {
                    border-bottom: 0.4125rem solid $color-white;
                }
            }

            #active {
                color: $color-white;
                border-bottom: 0.4125rem solid $color-white;
            }    
        }
    }
}

@include tablet{
    .header__nav{
        flex-direction: row;
        &-container{
            margin-top: 0rem;
        }
        &-logo{
            width: 7.5rem;
            margin-bottom: 0rem;
            margin-left: 1.5rem;
        }
        &-list{
            justify-content: left;
            align-items: center;
            margin-top: 0rem;
            height: 5rem;
            &-item{
                display: flex;
                align-items: center;
                text-align: center;
                height: 5rem;
                width: 5rem;
                border-bottom: unset;
                margin-left: 3.5rem;
                &-link{
                    width: 5rem;
                    display: block;
                    margin-top: .7125rem;
                    padding-bottom: 1.4rem;
                    padding-top: 1.5rem;
                    border-bottom: 0.4125rem solid transparent;
                }
            } 
        }
        
    }
}

@include desktop{
    .header__nav{
        flex-direction: row;
        &-container{
            margin-top: 0rem;
        }
        &-logo{
            padding: 2rem;
            display: block;
            margin: 0 auto;
        }
        &-list{
            justify-content: left;
            margin-top: 0px;
            &-item {
                margin-left: 1.75rem;
                margin-right: 1.75rem;
                border-bottom: unset;
                &-link {
                    width: fit-content;
                    padding: 1.75rem 0 1.125rem 0;
                    margin: 0 0 0 3rem;
                    border-width: 0.25rem;
                }
            }
        }
    }
}

.about {
    padding: 0rem 1rem 2.5rem 1rem;
    color: $color-black;
    background-color: $color-white;
    font-family: "Avenir-Next";
    font-weight: 400;

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: left;
        &-title{
            font-size: 1.5rem;
            padding-top: 1rem;
            line-height: 2rem;
            font-weight: 700;
        }
        &-image{
            height: 45.313vw;
            width: 100%;
            margin: 1.5rem 0;
            object-fit: cover;
        }
        &-body{
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.375rem;
            padding-bottom: 2rem;
            width: 85%;
            &-lead{
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 0.875rem;
                line-height: 1.375rem;
                font-weight: 600;
            }
        }
    }

    &__article-title{
        font-size: 0.875rem;
        line-height: 1.375rem;
        padding-bottom: 1rem;
    }
    &__article-body{
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        width: 100%;
        padding-top: 1rem;
    }
    &__article-body-deux{
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        width: 100%;
        padding-top: 1rem;
    }

    @include tablet{
        padding: 0rem 7rem 1.5rem 7rem;

        &__intro{
            &-title{
                font-size: 2.25rem;
                line-height: 2.75rem;
                font-weight: 600;
                padding-top: 2rem;
                margin-left: -3rem;
            }
            &-image {
                height: 47.136vw;
            }
            &-body{
                font-size: 1.5rem;
                line-height: 2rem;
                width: unset;
            }
        }

        &__article-body{
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
            width: 100%;
            padding-top: 1rem;
        }

        &__article-title{
            font-size: 1.5rem;
            line-height: 2rem;
            padding-bottom: 1rem;
            font-weight: 600;
        }
        &__article-body-deux{
           font-size: 1rem;
            line-height: 1.5rem;
            padding-top: 1rem;
            font-weight: 400; 
            width: 100%;
        }
        &__article-container{
            display: flex;
            justify-content: space-evenly;
            gap: 2rem;
        }
        
    }

    @include desktop {
        padding: 0 10rem 3rem 10rem;
        &__intro {
            &-title{
                margin: 3rem 0 0 -5.75rem;
                font-weight: 600;
                font-size: 3rem;
            }

            &-image{
                margin: 3rem 0;
                height: 31.25vw
            }
            &-body{
                padding-bottom: 2.5rem;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        &__article-title{
            font-size: 2rem;
            line-height: 2rem;
            padding-bottom: 1rem;
            font-weight: 400;
        }
        &__article-container{
            display: flex;
            font-size: 0.875rem;
            line-height: 1.375rem;
            gap: 2rem;
        }
        &__article-body{
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
            width: 100%;
            padding-top: 1rem;
        }
        &__article-body-deux{
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
            width: 100%;
            padding-top: 1rem;
        }
    }

}


.hero{
    height: 50vh;
    width: 100%;
    background-image: url(/assets/Images/hero-bio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-content: center;
    &__heading{
        background-color: rgba($color: $color-black, $alpha: 0.5);
        width: inherit;
        display: flex;
        align-items: center;
    }
    &__title{
        font-family: "Avenir-Next";
        color: $color-white;
        font-size: 1.5rem;
        width: 13rem;
        line-height: 2rem;
        padding-left: 1rem;
    }
    @include tablet{
        .hero {
            min-height: 80vh;
            &__title {
                font-size: 3.75rem;
                line-height: 4.25rem;
                width: 32rem;
                padding-left: 1.5rem;
            }
        }
    }
    @include desktop{
        .hero{
            // min-height: 80vh;
            &__title {
                font-family: "Avenir-Next";
                color: $color-white;
                font-size: 3.7rem;
                width: 32rem;
                line-height: 2rem;
                padding-left: 1rem;
                font-weight: 600;
                margin-left: 4rem;
                // height: 80vh;
            }
        }
    }
}

.photo{
    background-color: $color-alabaster;
    padding: 0 1rem;

    &__heading{
        font-family: "Avenir-Next";
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 2rem 0 1rem 0;
    }

    &__container{
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;

        &-item{
            height: 50.625vw;
            width: 100%;
            padding: 0.5rem 0;

        }
    }
    @include tablet {
        padding: 0 8rem;

        &__heading{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-bottom: 2rem;
        }
        &__container{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &-item{
                height: 16.40625vw;
                width: calc(33% - 0.75rem);
                padding: 0 0 1.5rem 0;
            }
        }
    }
    @include desktop{
        padding: 0 10rem;
        &__heading{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-bottom: 2rem;
        }
        &__container{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &-item{
                height: 16.40625vw;
                width: calc(33% - 0.75rem);
                padding: 0 0 1.5rem 0;
            }
        }
    }

}

.comment {
    background-color: $color-white;
    padding: 0rem 2rem 2rem 2rem;
    margin: 1rem auto;
    width: 80%;
    @include tablet{
        width: 65%;
    }
    @include desktop{
        width: 37%;
    }
    &__card{
        display: flex;
        margin: 1rem auto;
        gap: 20px;

        &-wrap{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            
        }
        &-image{
            width: 50px;
            height: 50px;
            background-color: $color-mercury;
            border-radius: 50%; 
            // margin-right: 1.5rem;
            margin-top: 0.5rem;
            object-fit: cover;
        }  
        &-container{
            flex: 2;
        }
        &-user{
            font-family: "Avenir-next";
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: 600;
        }
        &-date{
            font-family: "Avenir-next";
            font-size: 0.8125rem;
            color: $color-silver;
        }
        &-paragraph{
            font-family: "Avenir-next";
            font-size: 0.8125rem;
            line-height: 1.125rem;
            font-weight: 400;
        }

    } 

}


hr{
  margin: 1rem;
  stroke-width: 1px;
  color: $color-mercury;
  opacity: 0.5;

}

.conv{
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include tablet{
        width: 80%;
    }

    @include desktop{
        justify-content: center;
        width: 40%;
    }
    &__section{
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
        gap: 20px;
        &-title{
            font-family: "Avenir-Next";
            font-size: 2rem;
            font-weight: 600;
            @include tablet{
                font-size: 3rem;
                font-weight: 600;
                line-height: 2.75rem;
                margin: 0.5rem 0rem 2rem 0rem;
            }
            @include desktop{
                margin: 0.5rem 0rem 1rem 8rem;
                font-family: 600;
                line-height: 2.75rem;
                font-size: 3rem;
            }
        }
    }

    
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        @include tablet {
     
        }
        @include desktop{
      
        }
    }

    &__name-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
   
    }
    &__comment-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
   
    }

    &__name-label{
        font-family: "Avenir-Next";
        font-size: 0.7rem;
        font-weight: 600;
        margin-top: 0.5rem;
        color: $color-silver;

    }

    &__comment-label{
        font-size: 0.7rem;
        font-weight: 600;
        color: $color-silver;
        margin-bottom:0rem;
        font-family: "Avenir-Next";

    }

    &__name-input{
        background-color: $color-alabaster;
        font-family: "Avenir-Next";
        font-size: 1rem;
        border-radius: 4px;
        border: 2px solid $color-mercury;
        padding: 1rem;
        margin: 0.5rem 0rem;
        height: 2.25rem;
        // @include tablet{
        //     height: 3rem;
        // }
        // @include desktop{
        //     height: 3rem;
        // }
    }
    
    
    
    &__comment-textarea{
        background-color: $color-alabaster;
        font-family: "Avenir-Next";
        font-size: 1rem;
        border-radius: 4px;
        border: 2px solid $color-mercury;
        padding: 1rem;
        margin: 0.5rem 0rem;
        height: 6rem;

    }
    &__btn{
        width: 100%;
        height: 2.5rem;
        background-color: $color-black;
        color: $color-white;
        font-size: 1rem;
        font-family: "Avenir-Next";
        border-radius: 4px;
        border: none;
        margin-bottom: 1.5rem;
        &:hover{
            background-color: $color-darkblack;

        }
        @include tablet {
            height: 3.2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include desktop {
            width: 9.375rem;
            padding-left: 2rem;
            padding-right: 2rem;

        }
   
    }

    &__btn-container{
        @include tablet {
            align-self: flex-end;
        }
        @include desktop{
            align-self: flex-end;
        }
    }

    &__profile{
        display: flex;
        width: 13%;
        justify-content: flex-end;

    }

    &__profile-img{
        margin-top: 2rem;
        width: 2.25em;
        height: 2.25rem;
        object-fit: cover;
        border-radius: 50%;
        @include tablet{
            height: 3rem;
            width: 3rem;
        }
        @include desktop{
           height: 3rem;
            width: 3rem; 
        }
        
    }
 
}

.footer{
    background-color: $color-black;
    color: $color-white;
    padding: 0 1rem;
    font-family: "Avenir-Next";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 2rem 0 1.5rem 0;
    }
    &__section{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__social{
        padding-bottom: 2rem;
        &-media{
            margin-right: 1.6rem;
        }
    }
    &__logo{
        box-sizing: content-box;
        display: block;
        max-width: 7.5rem;
        max-height: 1.25rem;
    }
    &__contact{
        &-title{
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding-bottom: 1.25rem;
        }
        &-address,
        &-link {
            color: $color-silver;
            text-decoration: none;
            margin-bottom: 1.25rem;
        }
    }
    &__copyright {
        color: $color-silver;
        padding-bottom: 2rem;
    }
    
    @include tablet {
        margin: 0 auto;
        background-color: $color-black;
        color: $color-white;
        padding: 0 8rem;
        font-size: 0.875rem;
        line-height: 1.25rem;

        &__heading{
            display: flex;
            -webkit-box-pack: start;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2.25rem;
        }
        &__title{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding: 3rem 0 3.5rem 0;
            font-weight: 600;
        }
        &__section{
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;
            gap: 2rem;
        }
        &__social{
            padding: 0 8rem 0 0;
            &-media{
                margin-right: 2rem;
            }
        }
        &__logo{
            display:inherit;
            height: 1.5rem;
            width: 7.5rem;
        }
        &__contact{
            &-title{
                font-size: 1rem;
                line-height: 1.5rem;
                padding-bottom: 1.5rem;
            }
            &-address{
                padding-bottom: 0.25rem;
            }
            &-link{
                margin-bottom: 2.5rem;
            }
            &-container{
                display: flex;
                justify-content: space-between;
                gap: 2rem;
            }
        }
    }

    @include desktop {
        margin: 0 auto;
        background-color: $color-black;
        color: $color-white;
        padding: 0 10rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    
        &__heading{
            display: flex;
            -webkit-box-pack: start;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2.25rem;
        }
    
    
        &__section{
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;
            gap: 2rem;
        }
        &__title{
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding: 3rem 0 3.5rem 0;
            font-weight: 600;
        }
        &__social{
            padding: 0 8rem 0;
            &-media{
                margin-right: 2rem;
            }
        }
        &__logo{
            display: flex;
            height: 1.5rem;
            width: 7.5rem;
            float: right;
        }
        &__contact{
            &-title{
                font-size: 1rem;
                line-height: 1.5rem;
                padding-bottom: 1.5rem;
            }
            &-address{
                padding-bottom: 0.25rem;
            }
            &-link{
                margin-bottom: 2.5rem;
            }
            &-container{
                display: flex;
                justify-content: space-between;
                gap: 2rem;
            }
        }
    }    

}
