@use "./partials/breakpoints" as *;
@use "./partials/fonts" as *;
@use "./partials/colors" as *;

.hero2 {
  background-image: url(/assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 17.5rem;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

//   &__container {
//         display: flex;
//         flex-direction: column;
//     }
}